.container {
    position: relative;
}

.major {
    font-size: 1.25rem;
    font-weight: 300;
}

.col_primary {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

button {
    position: fixed;
    top: 20px;
    right: 20px;
}