.major {
    font-size: 1.25rem;
    font-weight: 300;
}

.col_primary {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

button {
    position: fixed;
    top: 25px;
    right: 25px;
    animation: du .3s infinite alternate linear;
    &:hover {
        animation: none;
        transform: scale(1);
    }
}

@keyframes du {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.9);
    }
}